<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blackjack Strategy</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Blackjack Strategy</h1>
        <form method="POST" class="mt-3">
            <div class="form-group">
                <label for="min_bet">Mínimo de la mesa:</label>
                <input type="number" class="form-control" id="min_bet" name="min_bet" required>
            </div>
            <div class="form-group">
                <label for="max_bet">Máximo de la mesa:</label>
                <input type="number" class="form-control" id="max_bet" name="max_bet" required>
            </div>
            <div class="form-group">
                <label for="card">Carta que salió (2-10, J, Q, K, A):</label>
                <input type="text" class="form-control" id="card" name="card" required>
            </div>
            <div class="form-group">
                <label for="player_hand">Mano del jugador (e.g., A,A o 10):</label>
                <input type="text" class="form-control" id="player_hand" name="player_hand" required>
            </div>
            <div class="form-group">
                <label for="dealer_card">Carta visible del dealer (e.g., A o 10):</label>
                <input type="text" class="form-control" id="dealer_card" name="dealer_card" required>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
        {% if decision %}
            <h2 class="mt-4">Decisión de Estrategia Básica: {{ decision }}</h2>
        {% endif %}
        {% if count is not none %}
            <h2 class="mt-4">Conteo Actual: {{ count }}</h2>
        {% endif %}
        {% if min_bet and max_bet %}
            <h2 class="mt-4">Mínimo de la mesa: {{ min_bet }}</h2>
            <h2 class="mt-4">Máximo de la mesa: {{ max_bet }}</h2>
        {% endif %}
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>